# Autotools:
/aclocal.m4
/autom4te.cache/
/ar-lib
/argv_printer/.deps/
/argv_printer/.dirstamp
/argv_printer/*.o
/argv_printer_libs
/argv_printer_zero
/build-aux/
/*.tar.gz
/compile
/config.cache
/config.guess
/config.sub
/config.log
/config.status
/configure
/custom_config.h
/custom_config.h.in
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/m4/*.m4
/stamp-h1
