# Autotools:
/autom4te.cache/
/build-aux/
/src/.deps/
/src/.dirstamp
/src/*.o
/aclocal.m4
/m4/pkg.m4
/*.tar.gz
/argv_printer
/config.h
/config.h.in
/config.log
/config.status
/configure
/Makefile
/Makefile.in
/stamp-h1
